<!-- Navigation -->
<%= render 'navigation' %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
<!-- User's Account Data -->
            <span>
              <%= image_tag(@user.image.url(:med), alt:"Upload Image") %>
            </span>
            <h4>Username: <%= @user.username %></h4>
            <h4>Email: <%= @user.email %></h4>
            <h4>User ID: <%= @user.id %></h4>
            <h4>Sign In Count: <%= @user.sign_in_count %></h4>
            <h4>Last Signed In At: <%= @user.last_sign_in_at %></h4>
        </div>
<!-- Your Attending Events -->
        <div class="col-md-3">
            <% if current_user.id == @user.id %>
                <p>My Attending Events</p>
                <table >
                    <thead>
                        <tr>
                            <th>Event Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @my_events.each do |event| %>
                            <tr>
                                <td><%= event.title %></td>
                                <td><%= link_to 'Show', event, class: "show" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
<!-- Your Following's Posted Events -->
        <div class="col-md-3">
            <% if current_user.id == @user.id %>
                <p>My Followings Attending Events</p>
                <table >
                    <thead>
                        <tr>
                            <th>Event Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @my_followed_events.each do |event| %>
                            <tr>
                                <td><%= event.title %></td>
                                <td><%= link_to 'Show', event, class: "show" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
<!-- Your Following List -->
        <div class="col-md-3">
            <% if current_user.id == @user.id %>
                <p>I'm Following</p>
                <table >
                    <thead>
                        <tr>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @my_followeds.each do |user| %>
                            <tr>
                                <td><%= user.username%></td>
                                <td><%= link_to 'Show', user, class: "show" %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>

    </div> <!-- END ROW -->


<!-- Profile Buttons: Follow/Unfollow, Create New Event, Edit Profile, Back -->
    <div class="row text-center">
        <div class="col-md-12">
            <% if current_user != @user %>
            	<% 	if Following.where(:user_id => current_user.id, :followed_id => @user.id).blank? %>
            		<%= link_to 'Follow', '/users/' + @user.id.to_s + '/follow', :method => :post, class: "follow" %> |
            	<% else %>
            		<%= link_to 'Unfollow', '/users/' + @user.id.to_s + '/unfollow', :method => :delete, class: "unfollow" %> |
            	<% end %>
            <% else %>
                <%= link_to 'New Event', new_event_path, class: "new" %> |
            <% end %>

            <%= link_to 'Edit', edit_user_registration_path(@user), class: "edit" %> |
            <%= link_to 'Back', root_path, class: "back" %>
        </div>
    </div>
</div>
