<!-- Navigation -->
<%= render 'navigation' %>

<h1> Show Page </h2>


<span>
  <%= image_tag(@user.image.url(:med), alt:"Upload Image") %>
</span>

<h2>Username: <%= @user.username %></h2>
<h2>Email: <%= @user.email %></h2>
<h2>User ID: <%= @user.id %></h2>
<h2>Sign In Count: <%= @user.sign_in_count %></h2>
<h2>Last Signed In At: <%= @user.last_sign_in_at %></h2>
	



				<% if current_user.id == @user.id %>
                    <table class="followers_list">

                        <thead>
                          <tr>
                            <th>Username</th>
                          </tr>
                        </thead>

                        <tbody>
                            <% @my_followeds.each do |user| %>
                                <tr>
                                    <td><%= user.username%></td>
                                    <td><%= link_to 'Show', user %></td>
                                </tr>
                            <% end %>

                        </tbody>

                    </table>

                <% end %>



<% if current_user != @user %>
	<% 	if Following.where(:user_id => current_user.id, :followed_id => @user.id).blank? %>
		<%= link_to 'Follow', '/users/' + @user.id.to_s + '/follow', :method => :post %> |
	<% else %> 
		<%= link_to 'Unfollow', '/users/' + @user.id.to_s + '/unfollow', :method => :delete %> |
	<% end %>
<% else %>
<% end %> 




<%= link_to 'New Event', new_event_path %> |
<%= link_to 'Edit', edit_user_registration_path(@user) %> |
<%= link_to 'Back', root_path %>
