<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<%= link_to image_tag(@event.image.url(:med)), @event.image.url %>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @event.start_time.strftime("%I:%M %p") %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @event.end_time.strftime("%I:%M %p") %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
