
<%= render 'navigation' %>


<p>
  <% if !@searchedEvents.nil? %>
    <% if !@searchedEvents.empty? %>
      <h3>Event(s) found:</h3>
      <% @storage = [] %>
      <% @searchedEvents.each do |event| %>
        <% @storage << event.title %>
        <%= event.title %>
        <%= link_to 'Show', event, class: "lnk thi" %><br>
      <% end %>
      <% if !@searchedTags.nil? %>
        <% if !@searchedTags.empty? %>
          <% @searchedTags.each do |tag| %>
            <% if !@storage.include?(tag.event.title) %>
            <%= tag.event.title %>
            <%= link_to 'Show', tag.event, class: "lnk thi" %><br>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% elsif %>
      <% if !@searchedTags.nil? %>
        <% if !@searchedTags.empty? %>
          <h3>Events found:</h3>
          <% @searchedTags.each do |tag| %>
          <%= tag.event.title %>
          <%= link_to 'Show', tag.event, class: "lnk thi" %><br>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
    <h3>No Events Found</h3>
    <% end %>
  <% end %>
</p>

<%= link_to 'Back', root_path, class: "lnk def" %>
