<!DOCTYPE html>
<html>
<head>
  <title>FunFinder</title>


  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>



  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'events'%>
  <%= csrf_meta_tags %>

  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body>


<div class="login">
  <% if user_signed_in? %>
    <%= image_tag current_user.image.url(:thumb) %>
    Logged in as <strong><%= current_user.username %></strong>
    <%= link_to 'Edit Account', edit_user_registration_path %> |
    <%= link_to 'View My Profile', current_user %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path %> |
    <%= link_to "Login", new_user_session_path %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>



<%= yield %>



</body>
</html>
